<div class="row">
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="AR" name="country" value="AR">
         <label for="AR">Argentina</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="AU" name="country" value="AU">
         <label for="AU">Australia</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="AT" name="country" value="AT">
         <label for="AT">Austria</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="AZ" name="country" value="AZ">
         <label for="AZ">Azerbaijan</label>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="BH" name="country" value="BH">
         <label for="BH">Bahrain</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="BE" name="country" value="BE">
         <label for="BE">Belgium</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="BR" name="country" value="BR">
         <label for="BR">Brazil</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="BG" name="country" value="BG">
         <label for="BG">Bulgaria</label>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="CA" name="country" value="CA">
         <label for="CA">Canada</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="CL" name="country" value="CL">
         <label for="CL">Chile</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="CN" name="country" value="CN">
         <label for="CN">China</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="CO" name="country" value="CO">
         <label for="CO">Colombia</label>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="HR" name="country" value="HR">
         <label for="HR">Croatia</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="CZ" name="country" value="CZ">
         <label for="CZ">Czech Republic</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="DK" name="country" value="DK">
         <label for="DK">Denmark</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="DO" name="country" value="DO">
         <label for="DO">Dominican Republic</label>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="EC" name="country" value="EC">
         <label for="EC">Ecuador</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="EG" name="country" value="EG">
         <label for="EG">Egypt</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="SV" name="country" value="SV">
         <label for="SV">El Salvador</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="EE" name="country" value="EE">
         <label for="EE">Estonia</label>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="FI" name="country" value="FI">
         <label for="FI">Finland</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="FR" name="country" value="FR">
         <label for="FR">France</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="DE" name="country" value="DE">
         <label for="DE">Germany</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="GR" name="country" value="GR">
         <label for="GR">Greece</label>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="HK" name="country" value="HK">
         <label for="HK">Hong Kong</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="HU" name="country" value="HU">
         <label for="HU">Hungary</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="IS" name="country" value="IS">
         <label for="IS">Iceland</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="IN" name="country" value="IN">
         <label for="IN">India</label>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="ID" name="country" value="ID">
         <label for="ID">Indonesia</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="IE" name="country" value="IE">
         <label for="IE">Ireland</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="IL" name="country" value="IL">
         <label for="IL">Israel</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="IT" name="country" value="IT">
         <label for="IT">Italy</label>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="JP" name="country" value="JP">
         <label for="JP">Japan</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="JO" name="country" value="JO">
         <label for="JO">Jordan</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="KZ" name="country" value="KZ">
         <label for="KZ">Kazakhstan</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="KR" name="country" value="KR">
         <label for="KR">Korea, Republic Of</label>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="KW" name="country" value="KW">
         <label for="KW">Kuwait</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="LV" name="country" value="LV">
         <label for="LV">Latvia</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="LB" name="country" value="LB">
         <label for="LB">Lebanon</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="LI" name="country" value="LI">
         <label for="LI">Liechtenstein</label>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="LT" name="country" value="LT">
         <label for="LT">Lithuania</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="LU" name="country" value="LU">
         <label for="LU">Luxembourg</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="MO" name="country" value="MO">
         <label for="MO">Macao</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="MY" name="country" value="MY">
         <label for="MY">Malaysia</label>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="MT" name="country" value="MT">
         <label for="MT">Malta</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="MX" name="country" value="MX">
         <label for="MX">Mexico</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="NL" name="country" value="NL">
         <label for="NL">Netherlands</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="NZ" name="country" value="NZ">
         <label for="NZ">New Zealand</label>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="NO" name="country" value="NO">
         <label for="NO">Norway</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="OM" name="country" value="OM">
         <label for="OM">Oman</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="PK" name="country" value="PK">
         <label for="PK">Pakistan</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="PE" name="country" value="PE">
         <label for="PE">Peru</label>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="PH" name="country" value="PH">
         <label for="PH">Philippines</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="PL" name="country" value="PL">
         <label for="PL">Poland</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="PT" name="country" value="PT">
         <label for="PT">Portugal</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="QA" name="country" value="QA">
         <label for="QA">Qatar</label>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="RO" name="country" value="RO">
         <label for="RO">Romania</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="RU" name="country" value="RU">
         <label for="RU">Russian Federation</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="SA" name="country" value="SA">
         <label for="SA">Saudi Arabia</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="SG" name="country" value="SG">
         <label for="SG">Singapore</label>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="SK" name="country" value="SK">
         <label for="SK">Slovakia</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="SI" name="country" value="SI">
         <label for="SI">Slovenia</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="ZA" name="country" value="ZA">
         <label for="ZA">South Africa</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="ES" name="country" value="ES">
         <label for="ES">Spain</label>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="LK" name="country" value="LK">
         <label for="LK">Sri Lanka</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="SE" name="country" value="SE">
         <label for="SE">Sweden</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="CH" name="country" value="CH">
         <label for="CH">Switzerland</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="TW" name="country" value="TW">
         <label for="TW">Taiwan</label>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="TH" name="country" value="TH">
         <label for="TH">Thailand</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="TR" name="country" value="TR">
         <label for="TR">Turkey</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="UA" name="country" value="UA">
         <label for="UA">Ukraine</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="AE" name="country" value="AE">
         <label for="AE">United Arab Emirates</label>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="GB" name="country" value="GB">
         <label for="GB">United Kingdom</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="US" name="country" value="US" checked/>
         <label for="US">United States</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="UY" name="country" value="UY">
         <label for="UY">Uruguay</label>
      </div>
   </div>
   <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-check">
         <input type="checkbox" id="VE" name="country" value="VE">
         <label for="VE">Venezuela, Bolivarian Republic Of</label>
      </div>
   </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6">
       <div class="form-check">
          <input type="checkbox" id="VN" name="country" value="VN">
          <label for="VN">Vietnam</label>
       </div>
    </div>
</div>