<% include ../partials/header.ejs %>
   <script>
       
        var osField = document.getElementById("osField");
        var appField = document.getElementById("appField"); 
        var form = document.querySelector("form");
        
        
        var appLists = <%- JSON.stringify(apps) %>;
        function configureDropDownLists(OpSysDropList,appNameDropList) {
            var android = appLists["Android"];
            var ios = appLists["iOS"];
            var appsArr = [];
            switch (OpSysDropList.value) {
                case 'Android':
                    appNameDropList.options.length = 0;
                    appsArr = appNamesListToArray(android);
                    appsArr = appsArr.sort();
                    appsArr.forEach(function(appName){
                       createOption(appNameDropList, appName, appName); 
                    });
                    break;
                case 'iOS':
                    appNameDropList.options.length = 0; 
                	appsArr = appNamesListToArray(ios);
                    appsArr = appsArr.sort();
                    appsArr.forEach(function(appName){
                       createOption(appNameDropList, appName, appName); 
                    });
                    break;
                    default:
                        appNameDropList.options.length = 0;
                    break;
            }
        
        }
        
        function createOption(ddl, text, value) {
            var opt = document.createElement('option');
            opt.value = value;
            opt.text = text;
            ddl.options.add(opt);
        }
        
        function buildLink(){
            
        	var apiLink = document.querySelector("#apiLink");
        	var appName = document.querySelector("#appNameDropList");
        	var os = document.querySelector("#OpSysDropList");
        	
        
        	
        	apiLink.value = "https://api.mobileaction.co/keywords/"+ getMmpId(appName.value,os.value)+"/#COUNTRY-CODE-GOES-HERE#?token=569512200f09f200010000124d9c738b39f94bfe6c86c9baa313ca28";
        	
        	
        	// Edit the label to the text appear
        	var apiLabel=document.querySelector("label[for=apiLink]");
        	apiLabel.innerText = "API Link:"
        	
        	// make the well visible
        	apiLink.classList.add("well");
        	
        	//Setting the mmpId input field, so it will be transferred as part of the req.body
        	var mmpIdField = document.getElementById("mmpId");
        	mmpIdField.value = getMmpId(appName.value,os.value);
        	
        	//Setting the storeId input field, so it will be transferred as part of the req.body
        	var storeIdField = document.getElementById("storeId");
            storeIdField.value = getStoreId(appName.value,os.value);
        }
        
        function getMmpId(name,os){
        	return appLists[os][name]["mmpId"];
        }
        
        function getStoreId(name,os){
        	return appLists[os][name]["storeId"];
        }
        
      
        // get the app list from MA (only MA, any other service provider 
        // will require refactoring this code), and return the apps names
        // in an array
        function appNamesListToArray(list){
        	var arr =[];
        	for (var appName in list) {
                arr.push(appName);
            }
            return arr;
        }

        
        
        
        
   </script>
   
   
   <table class="table">
       <thead>
            <tr>
                <th>RECEIVED</th>
                <th>QUEUED</th>
                <th>RUNNING</th>
                <th>EXECUTING</th>
            </tr>
       </thead>
       <tbody>
            <tr>
                <td id="recieved">0</td>
                <td id="queued">0</td>
                <td id="running">0</td>
                <td id="executing">0</td>
            </tr>
       </tbody>
   </table>
        
    <div class="container container-fluid">
        <h1>Adding Keywords to Mobile Action</h1>
        <form class="form-group" action="/wordsInjection" method="POST" oninput='buildLink();'>
            <textarea class="form-control" name="keywords" placeholder="Enter a comma seperated list of keywords..." width="100%"></textarea>
            <ol>
                <!--OS FIELDS-->
                <li>
                    <legend for="OpSysDropList"> OS: </legend>
                    <div class="row">
                        <div class="col-lg-12">
                            <select id="OpSysDropList" name="os" class="btn btn-default dropdown-toggle" onchange="configureDropDownLists(this,document.getElementById('appNameDropList'))" placeholder="iOS">
                            	<option value="">Please select Operation System</option>
                            	<option value="iOS">iOS</option>
                            	<option value="Android">Android</option>
                        	</select>
                        </div>
                    </div>
                </li>
                <!--OS FIELDS-->
                
                <li>
                    <legend for="appNameDropList">App Name: </legend>
                    <!--APP NAME FIELDS-->
                    <div class="row">
                        <div class="col-lg-12">
                            <select id="appNameDropList" name="appName" class="btn btn-default dropdown-toggle">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <!--APP NAME FIELDS-->
                </li>
                
                <li>
                    <legend>Available Countries:</legend>
                    <!--COUNTRY FIELDS-->
                    <div class="container">
                            <% include countriesList %>
                    </div> 
                    <!--COUNTRY FIELDS-->
                </li>
            </ol>
            
            
                <label for="apiLink"></label>
                <output id="apiLink" name="apiLink"></output>
                
                <input id="mmpId" name="mmpId" hidden></input>
                <input id="storeId" name="storeId" hidden></input>
                <button>Add to Mobile Action</button>
            
        </form>
    </div>
    

	<!--<script type="text/javascript" src="/scripts/apiCreator.js"></script>-->
	
    <script>
    function doAjax(){
            var apiStatusRequest = new XMLHttpRequest();
            apiStatusRequest.open('GET','/apiStatus',true);

            apiStatusRequest.setRequestHeader("Content-type", "text/plain");
            apiStatusRequest.onload = function(){
                var data = JSON.parse(apiStatusRequest.responseText);
                console.log(data);
                $('#recieved').text(data.RECEIVED);
                    $('#queued').text(data.QUEUED);
                    $('#running').text(data.RUNNING);
                    $('#executing').text(data.EXECUTING);
                if (data.QUEUED > 0 || data.RUNNING > 0 || data.EXECUTING > 0){
                    
                    setTimeout(doAjax, 1000);
                } 
            }
            return apiStatusRequest.send();
            
        }
        
        setTimeout(doAjax, 1000);
    </script>
<% include ../partials/footer.ejs %>