<!DOCTYPE html>
<html>
<head>
	<title>ASO</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container"></div>
	<nav class="navbar navbar-expand-lg navbar-light text-light bg-transparent">
		<a class="navbar-brand" href="/"><img src="images/moburst-logo.png" alt="moburst-logo"/></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Tools
			  </a>
			  <div class="dropdown-menu moburst-bg-color" aria-labelledby="navbarDropdown">
				<a class="dropdown-item text-light" href="/phrasesCounter">Phrases Counter</a>
				<a class="dropdown-item text-light" href="/commaSeperator">Comma Seperator</a>
				<a class="dropdown-item text-light" href="/wordExec">Word Seperator</a>
				<a class="dropdown-item text-light" href="/apiCreator">API Links</a>
				<a class="dropdown-item text-light" href="/dbKeywords">DB Keywords</a>
				<a class="dropdown-item text-light" href="/highlighter">Highlighter</a>
				<a class="dropdown-item text-light" href="/phraseBuilder">Phrase Builder</a>
				<a class="dropdown-item text-light" href="/wordsInjection">Add KWs to MobileAction</a>
			  </div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/names-generator">Names Generator</a>
			</li>
		  </ul>
		  
		</div>
	  </nav>

	
	<div class="jumbotron jumbotron-fluid">
	  </div>