textarea {
    margin-bottom: 10px;
}

.btn {
    margin-bottom: 20px;
}


.btn.btn-default.dropdown-toggle {
    width:100%;
}

#apiCreateForm {
    width: 40%;
    margin: auto;
}

.well{
    width: 100%;
    resize: none;
    padding: 10px;
}

