textarea {
    margin-bottom: 10px;
}

.btn {
    margin-bottom: 10px;
}


.btn.btn-default.dropdown-toggle {
    width:auto;
}

#apiCreateForm {
    width: 40%;
    margin: auto;
}

.well{
    width: 100%;
    resize: none;
    padding: 10px;
}

.highlight {
    background: yellow;
}


.delete-form {
    display: inline;
}

/*styles the disabled button in the pagination*/
li.previous span.disabled-buttons {
    color: grey;
    background-color: #ddd;
}

/*styles the table rows and head to be in grey if they are links*/
table a {
    color: #333;
}

form input.form-control{
    margin-bottom: 1.5%;
}
