<% include ../partials/header.ejs %>

    
    <div class="container container-fluid">
        <h1>Phrase Builder</h1>
        <form class="row" action="/phraseBuilder" method="POST">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            	<label>To DB:</label>
            	<textarea class="form-control" name="title" placeholder="Enter your text here..." rows="1"></textarea>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            	<label>Regular generator:</label>
            	<textarea class="form-control" name="subtitle" placeholder="Enter your text here..." rows="1"></textarea>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            	<label>Levels:</label>
            	<select id="level" name="level" class="selectpicker">
                    <% for (var i = 1; i <= 4; i++) { %>
                        <option value="<%=i%>"><%=i%></option>
                    <% } %>
                </select>
            </div>
            <input class="btn btn-success" id="extract" type="submit"  value="Submit">
        </form>
    </div>
	
<% include ../partials/footer.ejs %>