<% include ../partials/header.ejs %>
    
    
    <div class="container container-fluid">
        <h1>API Link Creator</h1>
        <form action="/apiCreator" method="POST" oninput='buildLink();'>
            <ol>
                
                <!--OS FIELDS-->
                <li>
                    <label for="OpSysDropList"> OS: </label>
                    <div class="row">
                        <div class="col-lg-12">
                            <select id="OpSysDropList" name="os" class="btn btn-default dropdown-toggle" onchange="configureDropDownLists(this,document.getElementById('appNameDropList'))" placeholder="iOS">
                            	<option value="">Please select Operation System</option>
                            	<option value="iOS">iOS</option>
                            	<option value="Android">Android</option>
                        	</select>
                        </div>
                    </div>
                </li>
                <!--OS FIELDS-->
                
                <li>
                    <label for="appNameDropList"> App Name: </label>
                    <!--APP NAME FIELDS-->
                    <div class="row">
                        <div class="col-lg-12">
                            <select id="appNameDropList" name="appName" class="btn btn-default dropdown-toggle">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <!--APP NAME FIELDS-->
                </li>
                
                <li>
                    <label for="countryField"> Country: </label>
                    <!--COUNTRY FIELDS-->
                    <div class="row">
                        <div class="col-lg-12">
                            <select id="countryField" name="country" class="btn btn-default dropdown-toggle" placeholder="">
                              <option value="BR">BR</option>
                              <option value="DE">DE</option>
                              <option value="FR">FR</option>
                              <option value="GB">GB</option>
                              <option value="US">US</option>
                            </select>
                        </div>
                    </div>
                    <!--COUNTRY FIELDS-->
                </li>
            </ol>
            
            <label for="apiLink"></label>
            <output id="apiLink" name="apiLink"></output>
        </form>
    </div>
    
	<script type="text/javascript" src="/scripts/apiCreator.js"></script>
	
	
<% include ../partials/footer.ejs %>