<% include ../partials/header.ejs %>

    
    <div class="container container-fluid">
        <h1>Word Extractor</h1>
        <form class="row" action="/wordExec" method="POST">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            	<textarea class="form-control" name="text" placeholder="Enter your text here..." rows="10"></textarea>
	            <input class="btn btn-success" id="extract" type="submit"  value="Submit">
            </div>
        </form>
    </div>
    
    <div class="container container-fluid">
    	<table class="table table-bordered table-hover">
	    	<tr class="row">
			    <th class="col-xs-6">Keyword</th>
			</tr>
			<% for(var i=0; i<arr.length; i++){ %>
				<% if(arr[i].length>1){ %>
					<tr class="row">
			    	    <td class="col-xs-12">
			    	        <%= arr[i] %>
			    	    </td>
			    	</tr>
				<% } %>
			<% } %>
    	</table>
    </div>
	
<% include ../partials/footer.ejs %>