<% include ../partials/header.ejs %>
    <script>
        // Configuring the dropdown list
        function configureDropDownLists(OpSysDropList,appNameDropList) {
            
            var iosApps = <%- JSON.stringify(iosApps) %>;
            
            //empty the list to prevent any errors of double loadings
            appsList.options.length = 0;
            
            // create a single option, would be the first option
            // we need an empty option iin case we won't to add keyword permutation
            // without make it relates to any app in the DB
            createOption(appsList,"","Choose an app to be linked with the keywords...");
            
            //goes over each app that was passed when the page was rendered
            iosApps.forEach(function(app){
              createOption(appsList, app.storeId, app.title); 
            });
            
        }
        
        // Function creaes one option in the select menu "ddl" (first arg)
        // with the value="value"(arg) and text="text(arg)"
        function createOption(ddl, value, text) {
            var opt = document.createElement('option');
            opt.value = value;
            opt.text = text;
            ddl.options.add(opt);
        }
        
        // The dropdown configuration is immidately loads up as the page loads
        // Done automatic with the setTimeout function and makes sure all variables would be loaded
        // before the function runs
        setTimeout(function(){
            window.onload = configureDropDownLists();
        },0);
    </script>
    
    <div class="container container-fluid">
        <h1>Adding Keywords to Mobile Action</h1>
            
            <form class="form-group" action="/dataInsert" method="POST">
                <textarea class="form-control" name="keywords" placeholder="Enter a comma seperated list of keywords..." width="100%"></textarea>
                
                <label for="appsList"> App Name: </label>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <select id="appsList" name="storeId" class="btn btn-default dropdown-toggle">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                
                <button class="btn btn-success">Add Keywords</button>
            </form>
            
            
    </div>
            
<% include ../partials/footer.ejs %>